# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

torch~=2.3.1+cu121
PyYAML~=6.0.1
transformers~=4.43.3
datasets~=2.20.0
numpy~=1.26.3
requests~=2.32.3
pandas~=2.2.2
omegaconf~=2.3.0